
<div class="row">
	<div class="col-sm-6 col-md-6">
    	<div class="thumbnail">
      		<%= image_tag(@product.image_url, class: "img-responsive")  %>
      	</div>
    </div>
	<div class="col-sm-6 col-md-6">
		<div class="caption">
        	<p>
  				<strong>Name:</strong>
  				<%= @product.name %>
			</p>
			<p>
  				<strong>Description:</strong>
  				<%= @product.description %>
			</p>
			<p>
  				<strong>Colour:</strong>
  				<%= @product.colour %>
			</p>
			<p>
  				<strong>Price:</strong>
  				<%= @product.price %>
			</p>
			<%= @product.highest_rating_comment %>
			<%= @product.lowest_rating_comment %>
			<span class="btn btn-primary btn-colour-change" role="button"><%= link_to 'Edit', edit_product_path(@product) %></span>
			<span class="btn btn-primary btn-colour-change" role="button"><%= link_to 'Back', products_path %></span>
      	</div>
    </div>
 </div>


